body {
    background: #f8f9fa;
}

.modal-box {
    display:none !important;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.model-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close {
    float:right;
    font-size:22px;
    font-weight: bold;
    cursor: pointer;
}